[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
selenium = "*"
sqlalchemy = "*"
docxtpl = "*"
flask-cors = "*"
flask-psycopg2 = "*"
psycopg2-binary = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.11"
