.dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;
    height: 70%;
    max-width: 1000px;
    max-height: 680;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 250px;
    background: white;
    padding: 42px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.client-information-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 42px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.title {
    color: lime;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;

}


.client-menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;


    .client-menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        border-radius: 5px;
        width: 100%;
        color: lime;
        margin-bottom: 5px;

        &:hover {
            background-color: navy;
            color: white;
        }

        &.is-active {
            background-color: navy;
            color: lime;
        }
    }
}

.document {
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;

    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
        transform: scale(0.95) ;
    }

    &:hover {
        box-shadow: 0 0 0 5px #eeee;
        cursor: pointer;
    }
}

.client-button{
    background-color: lime;
    color: navy;
}
